<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="<%= user.avatar %>" alt="">
    <h1>Статус: <%= user.isBlocked ? 'Заблокирован' : 'Не заблокирован' %></h1>
    <%- user.isBlocked
            ?'<div style="width: 200px; height: 200px; background-color: red;">БАН</div>'
            : '<div style="width: 200px; height: 200px; background-color: green;">НЕ БАН</div>'
    %>
</body>
</html>